body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  background-color:honeydew;
}

header {
  background-color: #f4f4f4;
}

nav {
  display: inline-block;
  width: 80%
  background-color: aliceblue;
  font-size: 120%;
}

nav img {
    width: 10%;
    position: relative;
    top: 20px;
}

main {
  background-color: #f4f4f4;
  font-size: 18px;
}

footer {
  background-color: azure;
  font-style: italic;
}

/*
li{
  display: inline-block;
  width: 20%;
  text-align: center;
  height: 85;
  background-color:lavender;
  line-height: 80px;
}
  */

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.grid img {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-align: center;
  color: rgb(41, 5, 141);
}

p {
  line-height: 1.5;
}